//方法：让超出宽度的部分文字用省略号(…)来表示
ellipsis()
  overflow: hidden //溢出内容为隐藏（overflow:hidden）
  white-space: nowrap  //强制文本在一行内显示（white-space:nowrap）
  text-overflow: ellipsis //当对象内文本溢出时显示省略标记（…），省略标记插入的位置是最后一个字符。